.nav-bar {background-color: var(--dkGreen);}

/* Section 1 */
.section1 {
    height: 100%;
    background-color: var(--dkGreen);
    color: white;
    padding: 96px 128px ;
    display: flex;
    align-items: center;
    gap: 64px;
}

.section1 img {
    width: 100%;
}

.section1 h1 {color: var(--green);}

/* Section 2 */
.section2 {
    background-color: var(--beige);
    padding: 96px 128px ;
}

.section2 h2 {
    color: var(--green);
    margin-bottom: 6rem;
}

.section2 .blockContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
}

.section2 .block {
    border: 1px solid var(--green);
    padding: 24px;
    padding-top: 0px;
    width: 100%;
}

.section2 h4 {color: var(--green);}

.section2 .iconContainer {
    background-color: var(--blue);
    padding: 16px;
    border-radius: 8px;
    width: fit-content;

    position: relative;
    top: -32px;
}
.section2 .iconContainer img {
    height: 32px;
    width: 32px;
}

/* Section 3 */
.section3 {
    background-color: var(--green);
    padding: 64px 128px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.section3 h3 {color: white;}

.section3 button {
    background-color: white;
    color: var(--dkGreen);
}

/* Section 4 */
.section4 {
    background-color: var(--beige);
    padding: 96px 128px ;
}

.section4 h2 {
    color: var(--green);
    z-index: 1;
}

.section4 .titleContainer {
    display: flex;
}

.section4 .titleContainer img {
    position: relative;
    top: -48px;
    left: -96px;
}

.section4 .projectContainer {
    display: flex;
    gap: 64px;
}

.section4 .imgContainer {
    background-color: white;
    border-radius: 32px;
    padding: 48px;

    align-content: center;
    width: 100%;
}

.section4 .imgContainer img {
    width: 100%;
}

.section4 .txtContainer {
    width: 100%;
}

.section4 .txtContainer h4 {color: var(--green);}

/* Section 5 */
.section5 {
    background-color: var(--green);
    padding: 64px 128px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.section5 h3 {color: white;}

.section5 button {
    background-color: white;
    color: var(--dkGreen);
}

/* Mobile version */
@media screen and (max-width: 900px){

.section1 {
    flex-direction: column;
}

.section2 .blockContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.section2 .block {
}


}