.nav-bar {background-color: var(--dkGreen);}

#active {color: var(--dkGreen);}

/* Intro section */
.introSection {
    height: 100%;
    background-color: var(--dkGreen);
    color: white;
    padding: 200px 128px 128px 128px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introSection .content {
    width: 100%;
    max-width: 1280px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.introSection h1 {color: var(--green);}


.introSection img {
    width: 100%;
    max-width: 650px;
}

/* Text section */
.textSection {
    background-color: var(--beige);
    color: var(--dkGreen);
    height: 100%;
    padding: 128px;

    display: flex;
    justify-content: center;
}

.textSection h5 {max-width: 700px;}

/* Methdology section */
.methodologySection {
    background-color: var(--green);
    color: white;
    padding: 128px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.methodologySection .content {
    width: 100%;
    max-width: 1280px;

    display: flex;
    flex-direction: column;

    gap: 24px;
}

.methodologySection .txtSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.methodologySection .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 4.75rem;
}

.methodologySection h2 {
    text-align: center;
    z-index: 1;
}

.methodologySection .titleContainer img {
    position: relative;
    top: -110px;
    left: 183px;
    width: 120px;
    animation: rotation 15s infinite linear;
}

.methodologySection .blockContainer {
    display: flex;
    width: 100%;
    gap: 16px;
}

.methodologySection .blockContainer .block {
    width: 100%;
    height: 100%;
    padding-top: 24px;
    border-top: 8px solid white;
}

.methodologySection .blockContainer p {color: var(--dkGreen);}

/* Section 4 */
.section4 {
    background-color: var(--blue);
    padding: 64px 128px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.section4 h3 {color: white;}

/* Benefits section */
.benefitsSection {
    height: 100%;
    background-color: var(--beige);
    color: var(--dkGreen);
    padding: 128px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefitsSection .content {
    width: 100%;
    max-width: 1280px;

    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 64px;
}

.benefitsSection h2 {color: var(--green);}

.benefitsSection .benefitsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.benefitsSection .benefit {
    background-color: white;
    border-left: 6px solid var(--green);
    padding: 24px;
}

/* Section 5 */
.section5 {
    height: 100%;
    background-color: white;
    color: var(--dkGreen);
    padding: 128px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section5 .content {
    width: 100%;
    max-width: 1280px;

    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 32px;
}

.section5 h2, .section5 h4 { color: var(--green); }

.section5 h4 {
    margin-top: 32px;
}

/* partner section */
.partnerSection {
    background-color: var(--green);
    padding: 64px 128px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.partnerSection h3 {
    color: white;
    text-align: center;
}


/* Mobile version */
@media screen and (max-width: 900px){

.textSection, .methodologySection, .section4, .benefitsSection, .section5, .partnerSection {
    padding: 48px 24px;
}

.introSection {padding: 128px 24px 48px 24px;}

.methodologySection .blockContainer, .section5 .content {
    flex-direction: column;
}

.methodologySection .titleContainer {
    height: 100%;
}

.methodologySection .titleContainer img {
    display: none
}

.benefitsSection h5 {
    font-size: 1rem;
}

.benefitsSection .benefit {padding: 16px;}

.benefitsSection .content {
    gap: 24px;
}


}