.nav-bar {background-color: var(--beige);}
.nav-text a {color: var(--dkGreen);}
.nav-bar .icon {color: var(--dkGreen);}

#active {color: var(--dkGreen);}

/* Title section */
.titleSection {
    height: 100%;
    background-color: var(--beige);
    color: var(--dkGreen);
    padding: 150px 96px 96px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleSection h1 {color: var(--green);}

/* Infography section */
.infographySection {
    height: 100%;
    background-color: var(--beige);
    padding: 96px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infographySection .content {
    width: 100%;
    max-width: 1280px;

    display: flex;
    gap: 64px;
}

.infographySection h2 {
    color: var(--green);
    z-index: 1;
}

.infographySection .txtContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infographySection .txtContainer img {
    position: relative;
    height: 80px;
    top: -24px;
    left: -44px;
}

.infographySection .titleContainer {display: flex;}

/* Video section */
.videoSection {
    height: 100%;
    background-color: white;
    padding: 96px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoSection .content {
    width: 100%;
    max-width: 1280px;

    display: flex;
    gap: 64px;
}

.videoSection h2 {
    color: var(--green);
    z-index: 1;
}

.videoSection .txtContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 128px;
}

.videoSection .txtContainer img {
    position: relative;
    height: 80px;
    top: -24px;
    left: -44px;
}

.videoSection .titleContainer {display: flex;}

/* Event section */
.eventSection {
    height: 100%;
    background-color: var(--beige);
    padding: 96px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventSection .content {
    width: 100%;
    max-width: 1280px;
}

.eventSection h2 {
    color: var(--green);
    z-index: 1;
}

.eventSection .txtContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.eventSection .txtContainer img {
    position: relative;
    height: 80px;
    top: -24px;
    left: -44px;
}

.eventSection .titleContainer {display: flex;}

/* Methodology section */
.methodologySection {
    height: 100%;
    background-color: var(--dkGreen);
    padding: 96px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.methodologySection .content {
    width: 100%;
    max-width: 1280px;

    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}

.methodologySection .content img {max-width: 100%;}

.methodologySection h2 {
    color: var(--green);
}

.methodologySection .txtContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.methodologySection .txtContainer img {
    position: relative;
    height: 80px;
    top: -91px;
    left: 236px;
    z-index: -1;
}

.methodologySection .titleContainer {
    height: 76px;
}

.methodologySection .txtContainer p {
    color: white;
    text-align: center;
}

/* Contact section */
.contactSection {
    background-color: var(--green);
    padding: 64px 128px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.contactSection h3 {
    color: white;
    text-align: center;
}

/* Mobile version */
@media screen and (max-width: 900px){

.titleSection, .infographySection, .videoSection, .eventSection, .contactSection, .methodologySection {
    padding: 48px 24px;
}

.titleSection {
    flex-direction: column;
    padding-top: 128px;
}

.infographySection .content, .videoSection .content {
    flex-direction: column;
    gap: 24px;
}

.videoSection .txtContainer {
    margin-top: 0;
}

.methodologySection {
    gap: 24px;
}

}