/* Section 1 */
.section1 {
    height: 100%;
    background-color: var(--beige);
    color: var(--dkGreen);
    padding: 128px 96px 96px 128px;
    display: flex;
    align-items: center;
    gap: 64px;
}

.section1 h2 {
    color: var(--green);
}

.section1 h2 span {
    color: var(--green);
    -webkit-text-fill-color: var(--beige);
    -webkit-text-stroke: 1px var(--green);
}

.section1 h5 {color: var(--dkGreen);}

.section1 p {color: var(--dkGreen);}

.section1 .txtContainer, .section1 .imgContainer {
    width: 100%;
}

.section1 .imgContainer {
    padding: 64px;
}

.section1 .imgContainer img {
    width: 100%;
    max-width: 320px;
}

/* Team section */

.teamSection {
    height: 100%;
    background-color: var(--beige);
    color: var(--dkGreen);
    padding: 0 128px 96px 128px;
    display: flex;
    justify-content: flex-start;
    gap: 48px;
    flex-wrap: wrap;
}

.teamSection .teamMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.teamSection .imgContainer {
    width: 195px;
    height: 195px;
    border: 2px solid var(--green);
    border-radius: 16px;
    box-shadow: 8px 8px 0 0 var(--green);
    background-color: white;
    
}

.teamSection .imgContainer img {
    width: 100%;
}

.teamSection .you {color: var(--green);}